body {font-family: 'Roboto', sans-serif;
background-color: #FFF;
color: #434455;
}

ul {list-style: none;}
a{text-decoration: none;}


.header {}

.header-nav {}

.header-logo {color: #4D5AE5;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.header-log {color: #2E2F42;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.header-list-item {color:#2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    .header-list-item:hover,
    .header-list-item:focus{color: #404bbf;}
           

.address-zero{ font-style: normal;}

.address-list-link {color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}

    .address-list-link:hover,
    .address-list-link:focus{color: #404bbf;}


.section-zero{background-color:#2e2f42 ;}
.sec-title {color: var(--WHITE, #FFF);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    background: var(--NAVY-BLUE, #2E2F42);
    1x}

    .button {color: var(--WHITE, #FFF);
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.04em;
        background-color: #4D5AE5;
        cursor: pointer;
    }

    .button:hover{background-color: #404BBF;}
    .button:focus{background-color: #404BBF;}



.section-one {}

.section-one-title {}

.section-one-list {}

.section-one-item {}

.section-one-item-title {color: var(--NAVY-BLUE, #2E2F42);
font-size: 20px;
font-weight: 500;
line-height: 1.2;
letter-spacing: 0.02em;}

.section-one-item-txt {color: var(--SLATE, #434455);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}



.section-two {background-color:#F4F4FD;}

.section-two-list {background-color:#ffffff;}

.section-two-title {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;}

.section-two-item-title {color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;}

.section-two-item-txt {color: var(--SLATE, #434455);
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}
.section-two-item-txt{}

        .section-three {}

        .section-three-title {color: var(--NAVY-BLUE, #2E2F42);
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            line-height: 1.1;
            letter-spacing: 0.02em;
            text-transform: capitalize;}
        
        .section-three-list {}
    
        .section-three-item {}
    
        .section-three-item-title {color: var(--NAVY-BLUE, #2E2F42);
            font-size: 20px;
            font-weight: 500;
            line-height: 1.2;
            letter-spacing: 0.02em;}
    
        .section-three-item-txt {color: var(--SLATE, #434455);
            font-size: 16px;
            font-weight: 400;
            line-height: 1.5;
            letter-spacing: 0.02em;}


.footer-zero {background-color: #2e2f42;}
    
.footer-logo {color: #4D5AE5;
    font-family: 'Raleway',sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;}

.footer-log {color: #f4f4fd;
    font-family: 'Raleway';
    font-size: 18px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.0.3em;
    text-transform: uppercase;}

.footer-txt {color: var(--CLOUD, #F4F4FD);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;}